src/META-INF/wsdl/pruebas.ecofactura.com.gt_8080/fel/aanulacion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Anulacion" targetNamespace="FEL" xmlns:tns="FEL" xmlns:wsdlns="FEL" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns1="FEL" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
	<types>
		<schema targetNamespace="FEL" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<element name="Anulacion.Execute">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Cliente" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Usuario" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Clave" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Nitemisor" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Numautorizacionuuid" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Motivoanulacion" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="Anulacion.ExecuteResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Respuesta" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="Anulacion.ExecuteSoapIn">
		<part name="parameters" element="tns:Anulacion.Execute"/>
	</message>
	<message name="Anulacion.ExecuteSoapOut">
		<part name="parameters" element="tns:Anulacion.ExecuteResponse"/>
	</message>
	<portType name="AnulacionSoapPort">
		<operation name="Execute">
			<input message="wsdlns:Anulacion.ExecuteSoapIn"/>
			<output message="wsdlns:Anulacion.ExecuteSoapOut"/>
		 <jaxws:bindings>
		  <jaxws:method name="ExecuteAnulacionDes"/>
		 </jaxws:bindings>
		</operation>
	 <jaxws:bindings>
	  <jaxws:class name="AnulacionSoapPortDes"/>
	 </jaxws:bindings>
	</portType>
	<binding name="AnulacionSoapBinding" type="wsdlns:AnulacionSoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Execute">
			<soap:operation soapAction="FELaction/AANULACION.Execute"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="Anulacion">
		<port name="AnulacionSoapPort" binding="wsdlns:AnulacionSoapBinding">
			<soap:address location="http://pruebas.ecofactura.com.gt:8080/fel/aanulacion"/>
		 <jaxws:bindings>
		  <jaxws:method name="AnulacionSoapPortDes"/>
		 </jaxws:bindings>
		</port>
	 <jaxws:bindings>
	  <jaxws:class name="AnulacionDes"/>
	 </jaxws:bindings>
	</service>
</definitions>
